<nav class="menu">
  <LinkTo @route="index" class="menu-index">
    <h1>SuperRentals</h1>
  </LinkTo>
  <div class="links">
    <LinkTo @route="about" class="menu-about">
      {{t 'common.about_link'}}
    </LinkTo>
    <LinkTo @route="contact" class="menu-contact">
      {{t 'common.contact_link'}}
    </LinkTo>
  </div>
</nav>
